@page
@model WebApp.Pages.EventPages.BookEventModel
@{
}
@{
    ViewData["Title"] = "Create";
}


 
<h4><b>BookEvent</b></h4>
<h4  class="mt-2"><button class="btn btn-primary"><a style="color:white;text-decoration:none" href="../Booked_Events"> Booked-Event-List-> </a></button></h4>

<div class="row mt-2">
  
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <label asp-for="EventType" class="control-label mb-1"><b>EventType</b></label>
            <select asp-for="EventType" class="form-select form-control" aria-label="Wedding">
                <option value="Wedding">Wedding</option>
                <option value="BirthDay">BirthDay</option>
                <option value="Marriage">Marriage</option>
                <option value="School Funcion">School Funcion</option>
                <option value="Collage Funcion">Collage Funcion</option>
            </select>
            


            <label asp-for="Vanue" class="control-label mt-2 mb-1"><b>Vanue</b></label>
            <select asp-for="Vanue" class="form-select form-control" aria-label="Mahaljar, Jaipur">
                <option value="Mahaljar, Jaipur">Mahaljar, Jaipur</option>
                <option value="Varndavan, Hyd">Varndavan, Hyd</option>
                <option value="ICRISAT, Hyd">ICRISAT, Hyd</option>
            </select>

            <label asp-for="NoOfGuest" class="control-label mt-2 mb-1"><b>NoOfGuest</b></label>
            <input asp-for="NoOfGuest" type="number" class="form-control" />

            <label asp-for="Booking_date" class="control-label mt-2 mb-1"><b>Booking_date</b></label>
            <input asp-for="Booking_date" type="date" class="form-control" />

            <br />
            <input type="submit" value="Book Event" class="btn btn-primary " />


            
        </form>

    </div>
    <div class="col-1"></div>
    <div class=" col-6 px-2 pt-2">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://media.istockphoto.com/id/479977238/photo/table-setting-for-an-event-party-or-wedding-reception.jpg?s=612x612&w=0&k=20&c=yIKLzW7wMydqmuItTTtUGS5cYTmrRGy0rXk81AltdTA=" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://wp-media-partyslate.imgix.net/2020/08/60th-birthday-weekend-in-ojai-night-2_143099.jpg?auto=compress%2Cformat&ixlib=php-3.3.1" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://cdn0.weddingwire.in/vendor/8601/3_2/960/jpeg/whatsapp-image-2019-02-15-at-6-17-14-pm_15_188601.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}