@page
@model WebApp.Pages.EventPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Edit Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookEvent.Id" />
            <label asp-for="BookEvent.EventType" class="control-label mb-1"><b>EventType</b></label>
            <select asp-for="BookEvent.EventType" class="form-select form-control" aria-label="Wedding">
                <option value="Wedding">Wedding</option>
                <option value="BirthDay">BirthDay</option>
                <option value="Marriage">Marriage</option>
                <option value="School Funcion">School Funcion</option>
                <option value="Collage Funcion">Collage Funcion</option>
            </select>
            <label asp-for="BookEvent.Venue" class="control-label mt-2 mb-1"><b>Venue</b></label>
            <select asp-for="BookEvent.Venue" class="form-select form-control" aria-label="Mahaljar, Jaipur">
                <option value="Mahaljar, Jaipur">Mahaljar, Jaipur</option>
                <option value="Varndavan, Hyd">Varndavan, Hyd</option>
                <option value="ICRISAT, Hyd">ICRISAT, Hyd</option>
            </select>
            <label asp-for="BookEvent.NoofGuest" class="control-label mt-2 mb-1"><b>NoOfGuest</b></label>
            <input asp-for="BookEvent.NoofGuest" type="number" class="form-control" />

            <label asp-for="BookEvent.BookingDate" class="control-label mt-2 mb-1"><b>Booking_date</b></label>
            <input asp-for="BookEvent.BookingDate" type="date" class="form-control" />
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}