@page
@model LogoutModel
@{
}
<h2>Logout</h2>
<p>Do you want to log out?</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="submit" value="Logout" class="btn btn-danger" />
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}